
/.idea/
/.idea/deployment.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/wallet-lib.iml
/.idea/webServers.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/dictionaries/Peter_Makafan.xml
/.idea/copyright/profiles_settings.xml
